footer {
  margin-top: 5rem;
}

footer section div:first-child {
  display: flex;
  background-color: var(--secondary-color);
}

.footer-logo img {
  opacity: 40%;
  height: 20rem;
  width: 20rem;
}

.footer-teks {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.box-teks {
  width: 10rem;
  height: 15rem;
  color: var(--white);
  border-left: 0.1rem solid var(--third-color);
  padding: 0.5rem;
}

.box-teks span {
  display: inline-flex;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.box-teks p {
  font-size: 0.7em;
}

.box-teks ul li {
  font-size: 0.7em;
  text-decoration: none;
  list-style: none;
}
.box-teks ul li a {
  text-decoration: none;
  color: var(--white);
}

.copyright {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--white);
  font-weight: 200;
  background-color: var(--secondary-color);
}
