@media (min-width: 1280px) {
  .container-beranda {
    width: 85% !important;
    margin: auto;
  }
}

body {
  background-color: var(--background);
}

.container-beranda {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layer-1 {
  position: relative;
  margin-top: 5rem;
  height: 75%;
  width: 90%;
  max-width: 80rem;
  padding: 0.2rem;
  background-color: var(--background);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.layer-1 div:nth-child(1) {
  position: absolute;
  height: 90rem;
  width: 5rem;
  background-color: var(--white);
  animation: spin 10s linear infinite;
}
/*  */
.layer-1 .layer-1-isi {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 18px;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.layer-1-bg {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.layer-1-bg section {
  width: 100%;
  height: 4rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: top-bottom 100s linear infinite;
}
.layer-1-bg section p {
  font-size: 5rem;
  font-weight: 1000;
  color: var(--tes);
}
@keyframes top-bottom {
  0% {
    transform: translateY(-15rem) rotate(0) translateX(0); /* Posisi awal/akhir */
  }
  25% {
    transform: translateY(-20rem) rotate(5deg) translateX(-2rem); /* Turun 5rem */
  }
  26% {
    transform: translateY(-20.5rem) rotate(5deg) translateX(-2rem); /* Turun 5rem */
  }
  27% {
    transform: translateY(-20rem) rotate(5deg) translateX(-2rem); /* Turun 5rem */
  }
  50% {
    transform: translateY(-15rem) rotate(0); /* Kembali ke posisi awal */
  }

  73% {
    transform: translateY(-10.5rem) rotate(-5deg) translateX(2rem);
  }
  74% {
    transform: translateY(-10rem) rotate(-5deg) translateX((2rem));
  }
  75% {
    transform: translateY(
      -10rem rotate(-5deg) translateX(2rem)
    ); /* Naik 5rem */
  }
  100% {
    transform: translateY(-15rem) rotate(0) translateX(0); /* Posisi awal/akhir */
  }
}
/*  */
.container-img,
.container-label {
  position: relative;
  z-index: 1;
}
.container-img {
  z-index: 2;
  height: 15rem;
  width: 15rem;
  border: 0.2rem solid var(--white);
  border-radius: 50%;
  background-color: var(--tes);
  overflow: hidden;
  padding: 0.2rem;
}
.container-label {
  height: 5rem;
  width: 20rem;
  background-color: var(--white);
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container-label::after {
  content: " ";
  position: absolute;
  left: -2rem;
  height: 100%;
  width: 3rem;
  background-color: var(--white);
}
.container-label section,
.container-label section span,
.container-label button {
  font-family: "Inconsolata", monospace;
}
.container-label section {
  font-weight: 600;
  font-size: 1.3em;
}
.container-label section span {
  font-size: 0.8em;
  font-weight: 400;
}
.container-label button {
  font-weight: 700;
  padding: 0.2rem 4rem;
  border-radius: 10px;
  background-color: transparent;
  border: 0.1rem solid var(--background);
  transition: all 0.3s linear;
}
.container-label button:hover {
  background-color: var(--background);
  transition: all 0.1s linear;
  border: 0.1rem solid transparent;
  color: var(--white);
}
@media (max-width: 640px) {
  .container-img {
    width: 12rem;
    height: 12rem;
  }
  .container-label {
    width: 70%;
  }
  .layer-1 .layer-1-isi {
    flex-direction: column;
    gap: 0.5rem;
  }
  .container-label {
    border-radius: 10px;
  }
  .container-label::after {
    width: 5rem;
    height: 2rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
