.menu-active {
  border-radius: 0 !important;
  transform: translateY(0) !important;
}
.scale0 {
  transform: scale(0);
}
#nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
}
.container-nav {
  height: 0.5rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.container-nav .logo {
  height: 4.2rem;
  width: 4.2rem;
  background-color: var(--white);
  border-radius: 50% 2px;
}
.hamburger-menu {
  position: relative;
  z-index: 1;

  height: 3rem;
  width: 3rem;
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.hamburger-menu button {
  display: inline-flex;
  height: 100%;
  width: 100%;
}
.hamburger {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.hamburger span {
  display: inline-block;
  border-radius: 10px;
  height: 5px;
  width: 60%;
  background-color: var(--background);
}

.xIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.xIcon span {
  position: absolute;
  display: inline-block;
  border-radius: 10px;
  height: 5px;
  width: 60%;
  background-color: var(--background);
}
.xIcon span:nth-child(1) {
  transform: rotate(45deg);
}
.xIcon span:nth-child(2) {
  transform: rotate(-45deg);
}

.animationMenu {
  animation: menu 1s ease-in-out;
}

@keyframes menu {
  0% {
    transform: translateY(-90rem);
  }
  60% {
    transform: translateY(0);
  }
  65% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}
@media (min-width: 640px) {
  .widthMenu {
    width: 30rem !important;
  }
}

.animationHedNav {
  animation: headerNav 1s ease-in-out;
}
@keyframes headerNav {
  0% {
    transform: translateX(100%);
  }
  80% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
  /* 0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } */
}
