nav {
  position: relative;
}

.container-nav {
  position: absolute;
  top: 0;
  z-index: 12;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-nav div:first-child {
  display: flex;
  gap: 10px;
}
.container-nav div:first-child a {
  font-weight: 500;
  font-size: medium;
}
.container-nav div:first-child a:hover {
  color: var(--third-color);
}
.container-nav div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(0, 0, 0, 0.694);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.container-nav div:nth-child(2) button:first-child {
  position: absolute;
  transition: all 300ms ease-in-out;
}
.container-nav div:nth-child(2) button:last-child {
  position: absolute;
  transition: all 300ms ease-in-out;
}
.container-nav div:nth-child(3) {
  width: 70px;
  height: 70px;
  position: relative;
}
.container-nav div:nth-child(3) img {
  position: absolute;
  transform: scale(2.5);
  max-width: 100%; /* gambar tidak akan lebih lebar dari container */
  height: auto; /* menjaga aspek ratio gambar */
  width: 100%; /* gambar akan mengisi penuh lebar container */
  object-fit: cover;
}
/* baru */
/* layar hp */
@media (max-width: 600px) {
  .container-nav {
    justify-content: end;
  }
  .container-nav div:nth-child(1) {
    background: white;
    position: absolute;
    top: 100%;
    width: 50%;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
    transform-origin: top right;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .container-nav div:nth-child(2) {
    margin-right: 10px;
  }
  .container-nav div:nth-child(3) {
    position: absolute;
    left: 0;
    margin-left: 4rem;
  }
}

/* Tablet Landscape (768px hingga 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .container-nav div:nth-child(2) {
    display: none;
  }
  /* memunculkan nav menu */
  .container-nav .item-gone {
    transform: scale(1);
  }
  .container-nav div:first-child {
    font-size: 0.9em;
  }
  .container-nav div:nth-child(2) {
    display: none;
  }
}

/* Small Desktop (992px hingga 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .container-nav div:nth-child(2) {
    display: none;
  }
  /* memunculkan nav menu */
  .container-nav .item-gone {
    transform: scale(1);
  }
  .container-nav div:first-child {
    font-size: 0.9em;
  }
  .container-nav div:nth-child(2) {
    display: none;
  }
}

/* Large Desktop (1200px hingga 1599px) */
@media (min-width: 1200px) {
  .container-nav div:nth-child(2) {
    display: none;
  }
  /* memunculkan nav menu */
  .container-nav .item-gone {
    transform: scale(1);
  }
  .container-nav div:first-child {
    font-size: 0.9em;
  }
  .container-nav div:nth-child(2) {
    display: none;
  }
}
