@media (min-width: 1280px) {
  .container-portofolio section:nth-child(2) {
    width: 85% !important;
    margin: auto;
  }
}
/* header start */
.container-portofolio header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.container-portofolio header::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 25rem;
  z-index: -1;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.1);
}
.container-portofolio header p {
  position: relative;
  font-size: 4em;
  color: azure;
  font-family: "Lilita one", sans-serif;
}
.container-portofolio header p:nth-child(1) {
  animation: tes 1s ease-in-out infinite;
}
.container-portofolio header p:nth-child(2) {
  animation: tes 1.2s ease-in-out infinite;
}
.container-portofolio header p:nth-child(3) {
  animation: tes 1.3s ease-in-out infinite;
}
.container-portofolio header p:nth-child(4) {
  animation: tes 1.4s ease-in-out infinite;
}
.container-portofolio header p:nth-child(5) {
  animation: tes 1.5s ease-in-out infinite;
}
.container-portofolio header p:nth-child(6) {
  animation: tes 1.6s ease-in-out infinite;
}
.container-portofolio header p:nth-child(7) {
  animation: tes 1.7s ease-in-out infinite;
}
.container-portofolio header p:nth-child(8) {
  animation: tes 1.8s ease-in-out infinite;
}
.container-portofolio header p:nth-child(9) {
  animation: tes 1.9s ease-in-out infinite;
}
.container-portofolio header p:nth-child(10) {
  animation: tes 2s ease-in-out infinite;
}

@keyframes tes {
  0% {
    transform: scale(1);
  }
  33.33% {
    transform: scale(1.1);
  }
  66.66% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/* header end */
.container-portofolio section:nth-child(2) {
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.container-portofolio section:nth-child(2) .illustrator,
.container-portofolio section:nth-child(2) .frontend {
  height: 50%;
  width: 100%;
  display: flex;
  gap: 0.1rem;
}
.illustrator div:nth-child(1),
.frontend div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.illustrator div:nth-child(2) {
  display: flex;
  justify-content: start;
  align-items: center;
}
.frontend div:nth-child(1) {
  display: flex;
  justify-content: end;
  align-items: center;
}
.box {
  width: 50%;
  height: 100%;
}
.box .headline-img {
  height: 90%;
  width: 80%;
  border-radius: 20px;
  overflow: hidden;
  border: 0.2rem dashed var(--third-color);
  transition: all 0.2s ease-in;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.deskripsi {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
}
.deskripsi p {
  font-size: 0.8em;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
/* btn start */
.btn {
  margin-top: 1rem;
  height: 3rem;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(86, 10, 10);
  border-radius: 11px;
}
.btn a {
  border: 0.1rem solid var(--third-color);
  display: inline-flex;
  background-color: var(--background);
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  transform: translateY(-0.2rem);
  color: var(--white);
  font-family: "Lilita one", sans-serif;
  font-size: 1.2em;
  transition: all 0.2s ease-in-out;
}
.btn a:hover {
  transform: translateY(-0.1rem);
}
/* btn end */

.box .headline-img:hover {
  transition: all 0.2s ease-out;
  transform: translateY(-1rem);
}
.box .headline-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 640px) {
  .container-portofolio header h1 {
    font-size: 3em;
  }
  .container-portofolio section:nth-child(2) .illustrator {
    flex-direction: column;
  }
  .container-portofolio section:nth-child(2) .frontend {
    flex-direction: column-reverse;
  }
  .box {
    width: 100%;
    height: 50%;
  }
  .box .headline-img {
    height: 100%;
  }
  .frontend div:nth-child(1),
  .illustrator div:nth-child(2) {
    justify-content: center;
  }
}
