.cardMouseEnter {
  z-index: 1;
  transform: translateX(0) translateY(0) !important;
  transition: all 0.2s ease-in-out;
  border: 2px solid var(--third-color);
}

.cardMouseLeave {
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0) 0px 5px 15px;
  border: 2px solid transparent;
}
@media (max-width: 640px) {
  .mobileGone {
    display: none;
  }
  .scaleKecil {
    transform: scale(0.8);
  }
}

.shadowWeb::after {
  content: " ";
  position: absolute;
  height: 100%;
  width: 5rem;
  /* background-color: yellow; */
  right: 100%;
  background: linear-gradient(to left, #80d8c3, rgba(0, 0, 0, 0));
}
.translate0 {
  transform: translate(0) !important;
}
