@media (min-width: 1280px) {
  .container-skills {
    width: 85% !important;
    margin: auto;
  }
}
#skills {
  overflow: hidden;
}
.container-skills {
  position: relative;
  height: 55rem;
  width: 100%;
}
.layer-gambar {
  position: relative;
}
.layer-gambar .garuda-container {
  width: 80%;
  max-width: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-activity {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 90%;
  max-width: 45rem;
  height: 15rem;
  border-radius: 10px;
  overflow: hidden;
}

.layer-teks {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: end;
  align-items: center;
}
.layer-teks div:first-child {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  flex-direction: column;
}
.layer-teks div:first-child::before {
  content: "";
  padding: 1rem;
  position: absolute;
  height: 90%;
  width: 90%;
  border-radius: 1rem;
  background-color: var(--third-color);
  opacity: 0.9;
  z-index: -1;
  transform: skewX(20deg) skewY(20deg) scale(1.2);
}
.layer-teks div:first-child span:first-child,
.layer-teks div:first-child span:last-child {
  font-size: 7em;
  font-weight: 600;
  color: var(--primary-color);
}
.layer-teks div:first-child span:nth-child(2) {
  position: absolute;
  left: 3rem;
  top: 50%;
  font-weight: 900;
  transform: translateY(-50%) scale(2) rotate(12deg);
}

@media (max-width: 1024px) {
  .layer-teks div:first-child span:first-child,
  .layer-teks div:first-child span:last-child {
    font-size: 5em;
    font-weight: 600;
  }
}

@media (max-width: 640px) {
  .container-skills {
    overflow: hidden;
  }
  .layer-gambar .garuda-container {
    margin-top: 2rem;
  }
  /* .layer-gambar .github-activity {
    height: 11rem;
  } */
  .layer-gambar .garuda-container img {
    transform: scale(1.5);
  }
  .layer-teks div:first-child span:first-child,
  .layer-teks div:first-child span:last-child {
    font-size: 4em;
    font-weight: 600;
  }
}
