@media (min-width: 1280px) {
  .container-skills {
    width: 85% !important;
    margin: auto;
  }
}
#skills {
  position: relative;
}
/* .skills-hiasan {
  position: absolute;
  height: 100%;
  width: 100%;
} */
.container-skills {
  display: flex;
  position: relative;
  z-index: 2;
  height: 55rem;
  width: 100%;
  justify-content: center;
}
.container-kiri {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-kiri .garuda img {
  animation: stepGrowWave 5s infinite alternate;
}

.container-kiri .github {
  width: 100%;
  height: 15rem;
  border: 0.1rem solid var(--white);
  border-radius: 20px;
  margin: 0 0 4rem 2rem;
}

.container-kanan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}
.container-kanan div {
  display: flex;
  position: absolute;
  flex-direction: column;
  transform: scale(1.4);
  color: var(--white);
  margin-right: 5rem;
}
.container-kanan div span:nth-child(1),
.container-kanan div span:nth-child(3) {
  font-size: 3em;
  font-weight: 900;
  display: flex;
}
.container-kanan div span:nth-child(1):before {
  content: " ";
  top: -15px;
  left: 40px;
  position: absolute;
  color: var(--third-color);
  opacity: 0.3;
  animation: randomUppercase2 2s ease-in-out infinite;
}
.container-kanan div span:nth-child(3):before {
  content: " ";
  top: 15px;
  left: 20px;
  position: absolute;
  color: var(--third-color);
  opacity: 0.3;
  animation: randomUppercase 1s ease-in-out infinite;
}
.container-kanan div span:nth-child(2) {
  font-family: "Inconsolata", monospace;

  display: flex;
}
.container-kanan div span:nth-child(1) p,
.container-kanan div span:nth-child(3) p {
  font-family: "Poppins", sans-serif;
  animation: wave-animation 2s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}

/* git hub style */
.github {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
@media (max-width: 1024px) {
  .container-kanan div {
    transform: scale(1.1);
  }
}

@media (max-width: 640px) {
  .container-skills {
    flex-direction: column-reverse;
  }
  .container-kiri {
    height: max-content;
    width: 100%;
  }
  .garuda {
    margin-bottom: 3rem;
  }
  .container-kiri .github {
    width: 90%;
    margin: auto;
  }
  .container-kanan {
    height: 10rem;
    width: 100%;
    margin-top: 1rem;
  }
  .container-kanan div {
    transform: scale(1);
    margin-right: 0;
  }
}

@keyframes randomUppercase {
  0% {
    content: "FroNt ENd";
  }
  25% {
    content: "frONt eND";
  }
  50% {
    content: "FRonT eNd";
  }
  75% {
    content: "frOnT ENd";
  }
  100% {
    content: "fRONt ENd";
  }
}
@keyframes randomUppercase2 {
  0% {
    content: "IlLuRTratOr";
  }
  25% {
    content: "ILUStrAtOr";
  }
  50% {
    content: "IllustRAtOR";
  }
  75% {
    content: "ILluSTraTOr";
  }
  100% {
    content: "IlLuStrATor";
  }
}
