img {
  max-width: 100%;
}

/* style tentang saya start */

.container-tentang-saya {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
/* container */
.penjelasan-saya {
  margin-top: 70px;
  width: 90%;
}

.penjelasan-saya div {
  width: 90%;
  max-width: 40rem;
  margin: auto;
  margin-bottom: 4rem;
}
.penjelasan-saya div p {
  font-family: "Poppins", sans-serif;
  color: var(--main-font);
  font-size: 1.5em;
  text-align: justify;
  text-align-last: left;
}
.penjelasan-saya h1 {
  margin-bottom: 0.5rem;
  margin: auto;
}
.penjelasan-saya h2 {
  margin: auto;
}
.penjelasan-saya h2,
.penjelasan-saya h1 {
  margin-bottom: 1rem;
  width: max-content;
  position: relative;
  color: var(--main-font);
  font-size: 1.8em;
}

.penjelasan-saya h1::before,
.penjelasan-saya h2::before {
  content: " ";
  position: absolute;
  top: 100%;
  background-color: var(--third-color);
  height: 0.2rem;
  width: 100%;
  border-radius: 20px;
}
/* pengalaman start */
.container-pengalaman {
  width: 90%;
  display: flex;
  justify-content: center;
}
.card-pengalaman {
  display: flex;
  height: 10rem;
  width: 90%;
  max-width: 30rem;
  border: 1px solid var(--white);
  border-radius: 10px;
  box-shadow: rgb(0, 0, 0) 0px 3px 8px;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif in !important; */
}
.card-pengalaman section {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.card-pengalaman section header h3 {
  color: var(--white);
  font-weight: 600;
}
.card-pengalaman section h5 a {
  color: var(--third-color);
}
.card-pengalaman section h6 {
  color: var(--white);
}
.card-pengalaman section p {
  color: var(--main-font);
  font-size: 0.9em;
  font-weight: 400;
}
/* pengalaman end */
/* breakpoint start */
@media (max-width: 640px) {
  .penjelasan-saya h2,
  .penjelasan-saya h1 {
    font-size: 1.5em;
  }

  .penjelasan-saya div p {
    text-align: start;
  }
  .penj .container-tentang-saya .penjelasan-saya div:nth-child(2) {
    font-size: 0.8em;
  }
  .container-pengalaman {
    display: flex;
    justify-content: center;
  }
}

/* breakpoint end */
