img {
  max-width: 100%;
}

/* style tentang saya start */

.container-tentang-saya {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.penjelasan-saya {
  margin-top: 70px;
  width: 90%;
}

.container-tentang-saya .penjelasan-saya div:nth-child(2) {
  font-size: 0.8em;
  font-weight: 600;
  color: var(--white);
}
.penjelasan-saya h2 {
  margin-top: 1rem;
}
.penjelasan-saya h1 {
  margin-bottom: 0.5rem;
}
.penjelasan-saya h2,
.penjelasan-saya h1 {
  margin-bottom: 1rem;
  width: max-content;
  position: relative;
  color: var(--white);
  font-size: 1.8em;
}

.penjelasan-saya h1::before,
.penjelasan-saya h2::before {
  content: " ";
  position: absolute;
  top: 100%;
  background-color: var(--third-color);
  height: 0.2rem;
  width: 100%;
  border-radius: 20px;
}

.card-pengalaman {
  width: 20rem;
}
.card-pengalaman summary {
  color: var(--white);
  cursor: pointer;
}
.card-pengalaman summary span:nth-child(1) {
  color: var(--third-color);
  font-size: 0.8em;
  font-weight: 800;
  margin-right: 1rem;
}
.card-pengalaman summary span:nth-child(2) {
  position: relative;
  font-size: 1.1em;
  font-weight: 800;
}
.card-pengalaman summary span:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 20px;
  background-color: var(--third-color);
  top: 100%;
}
.card-pengalaman p {
  color: var(--white);
  text-wrap: balance;
  margin: 0.1rem;
  font-size: 0.9em;
  font-weight: 700;
  margin-top: 1rem;
}

/* breakpoint start */
@media (max-width: 640px) {
  .penjelasan-saya h2,
  .penjelasan-saya h1 {
    font-size: 1.5em;
  }
  .container-tentang-saya .penjelasan-saya div:nth-child(2) {
    font-size: 0.8em;
  }
  .container-pengalaman {
    display: flex;
    justify-content: center;
  }
  .card-pengalaman {
    width: 90%;
    height: 12rem;
  }
}

@media (max-width: 1080px) {
  .card-pengalaman div:nth-child(3) div:first-child {
    left: 0;
  }
}
/* breakpoint end */
