main {
  background-color: var(--background);
}
/* beranda start */

#beranda {
  position: relative;
}
.container-beranda {
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.container-kiri,
.container-kanan {
  width: 50%;
  height: 20rem;
  position: relative;
  /* background-color: blueviolet; */
}
/*  */
.container-kiri {
  display: flex;
  justify-content: end;
}
.container-nama {
  width: 80%;
  height: 100%;
}
.container-nama h4 {
  color: var(--white);
  margin: 1rem 0 1rem 0;
}
.container-nama h5 {
  color: var(--third-color);
}
.container-nama span {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: var(--white);
}
.container-teksScroll {
  position: relative;
  display: flex;
  align-items: center;
  height: 5rem;
  width: 20rem;
  overflow: hidden;
}
.container-teksScroll h1 {
  font-family: "Lilita one", sans-serif;
}
.container-teksScroll::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 100%;
  /* background-color: aqua; */
  background: linear-gradient(to top, var(--background), rgba(255, 255, 0, 0));

  bottom: 0;
}

.container-teksScroll h1 {
  position: absolute;
  color: var(--white);
  font-size: 3em;
  opacity: 0;
  transform: translateY(5rem);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.show {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
/*  */

.container-code {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: -20%;
  height: 30rem;
  width: 100%;
  max-width: 35rem;
  border-radius: 0 10px 10px 10px;
  background-color: #3d3d3d;
}
.container-code .fake-btn {
  position: absolute;
  height: 2rem;
  width: 4rem;
  background-color: #3d3d3d;
  border-radius: 10px 10px 0 0;
  bottom: 100%;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-code .fake-btn span {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.container-code .fake-btn span:first-child {
  background-color: red;
}
.container-code .fake-btn span:nth-child(2) {
  background-color: yellow;
}
.container-code .fake-btn span:nth-child(3) {
  background-color: green;
}
.container-code .code-nav {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
}

.container-code .code-nav button {
  font-weight: 500;
  font-size: 0.8em;
  color: var(--white);
}
.container-code .code-nav a {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  right: 0;
  background-color: transparent;
  font-size: 0.8em;
  color: var(--white);
  font-weight: 800;
  font-size: 1.2em;
  border-radius: 5px;
}
.container-code .code-nav a:hover {
  background-color: red;
}
.container-code .code-code {
  position: relative;
  overflow: hidden;
  margin: 0.3rem;
  border-radius: 15px 15px 5px 5px;
  flex: 1;
  border: 0.2rem solid rgba(255, 255, 255, 0.259);
  background-color: rgb(33, 33, 33);
}

/* beranda end */

@media (max-width: 640px) {
  .container-beranda {
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    height: max-content;
    height: 60rem;
  }
  .container-kiri {
    width: 100%;
    height: 30rem;
  }
  .container-nama {
    position: static;
    width: 90%;
    margin: auto;
    margin-top: 3rem;
  }
  .container-kanan {
    width: 90%;
    height: 20rem;
  }
}

@keyframes spin-coy {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes counter-spin-coy {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
