.konten-html-go {
  transform: translateX(100rem);
}
.konten-html {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 0.2rem;

  /* background-color: burlywood; */
}
.no-html {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  flex-direction: column;
  height: 100%;
  position: absolute;
  left: 0;
  width: 2rem;
  /* background-color: aqua; */
}
.no-html span {
  height: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Code Pro", Consolas, monospace;
  width: 100%;
}
.no-html span {
  color: var(--white);
}
/*  */
/*  */
.konten-html div {
  color: var(--white);
  margin-left: 2.5rem;
  height: 1.5rem;
}
.konten-html div span {
  font-size: 0.9em;
  font-family: "Source Code Pro", Consolas, monospace;
}

.red {
  color: rgb(230, 0, 0);
}
.yellow {
  color: rgb(230, 230, 0);
  margin-left: 0.5rem;
}
.green {
  color: rgb(0, 230, 0);
}
