.html-konten,
.javascrip-konten {
  position: absolute;
  height: 100%;
  width: 100%;
}
.nomor {
  position: absolute;
  height: 100%;
  width: 2rem;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  background-color: rgb(33, 33, 33);
}
.nomor span {
  font-weight: 500;
  font-family: "Inconsolata", monospace;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  color: var(--white);
  width: 100%;
}
.code {
  padding: 0.5rem 0 0 2.4rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  gap: 0.5rem;
}
.code span {
  display: inline-flex;
  justify-content: start;
  align-items: center;
  height: 1.5rem;
  width: 25rem;
  color: var(--white);
}
.code span p {
  font-weight: 500;
  font-family: "Inconsolata", monospace;
}
.space {
  margin-left: 0.5rem;
}
.doublespace {
  margin-left: 1rem;
}
.red {
  color: rgb(193, 0, 0);
}
.yellow {
  color: rgb(230, 230, 0);
  margin-left: 0.5rem;
}
.green {
  color: rgb(0, 230, 0);
}
.oldgreen {
  color: rgb(0, 142, 0);
}
.purple {
  color: rgb(197, 0, 197);
}
.cyan {
  color: rgb(0, 211, 211) !important;
}
.orange {
  color: orange;
}
.btn-color {
  color: rgb(230, 230, 0) !important;
}

.konten-gone {
  transform: translateY(100rem);
}
