.konten-javascrip {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-shrink: 1;
  overflow-x: scroll;
}
.konten-javascrip-go {
  transform: translateX(100%);
}
.no-javascrip {
  position: absolute;
  height: 100%;
  width: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}
.no-javascrip span {
  height: 1.5rem;
  font-weight: 400 !important;
  color: var(--white);
  font-family: "Source Code Pro", Consolas, monospace;
}
.code-javascrip {
  height: 100%;
  width: 100%;
}
.code-javascrip .code {
  display: flex;
  margin-left: 2.5rem;
  gap: 0.2rem;
  flex-direction: column;
  width: max-content;
}
.code-javascrip .code span {
  font-family: "Source Code Pro", Consolas, monospace;
  color: var(--white);
  font-weight: 400 !important;
  flex-shrink: 1 !important;
  /* background-color: #00ffcc; */
  height: 1.5rem;
}

.purple {
  color: rgb(208, 0, 208) !important;
}
.cyan {
  color: #00ffcc !important;
}
.red {
  color: red !important;
}
.greenold {
  color: green !important;
}
.orange {
  color: orange !important;
}
.m-l {
  margin-left: 1rem;
}
