@media (max-width: 640px) {
  .card-illustrator {
    width: 90% !important;
  }
}
@media (max-width: 1024px) {
  /* .containerCard {
    } */
  .card-illustrator {
    width: 20rem !important;
  }
}

.card-illustrator {
  transition: all 0.2s ease-in-out;
}
.card-illustrator:hover {
  scale: 1.1;
  z-index: 1;
}
