.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  background-color: var(--background);
  flex-direction: column;
}

.width {
  width: 95%;
  max-width: 60rem;
  margin: 0 auto;
}

.ukuranDisplayImg {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* gambar max container */
.imgMaxContainer {
  max-width: 100%;
  height: auto;
  display: block;
}

.scale0 {
  transform: scaleY(0);
}

/* Bagian container img */
.animationKiri {
  animation: kiri 20s ease-in-out infinite;
}
@keyframes kiri {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5rem);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5rem);
  }
}
.animationKanan {
  animation: kanan 20s ease-in-out infinite;
}
@keyframes kanan {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-6.5rem);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(6.5rem);
  }
}

/*  animation mouse*/
.mouse {
  animation: mouse 2s ease-in-out infinite;
}
.scroll {
  animation: scroll 2s ease-in-out infinite;
}
@keyframes mouse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
  75% {
    transform: translateY(-0.1rem);
  }
  100% {
    transform: translateY(0);
  }
}

.shadow:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  /* background-color: brown; */
  background: linear-gradient(
    to bottom,
    var(--background),
    rgba(255, 255, 255, 0)
  );
  top: 0;
}
.shadow:before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 20px;
  /* background-color: brown; */
  background: linear-gradient(
    to top,
    var(--background),
    rgba(255, 255, 255, 0)
  );
  bottom: 0;
}

.teksToBotom {
  animation: toBottom 10s ease-in-out infinite;
}
@keyframes toBottom {
  0% {
    transform: translateY(0);
  }
  43% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(4rem);
  }
  93% {
    transform: translateY(4rem);
  }
  100% {
    transform: translateY(0);
  }
}
.teksFromTop {
  animation: fromTop 10s ease-in-out infinite;
}
@keyframes fromTop {
  0% {
    transform: translateY(-4rem);
  }
  43% {
    transform: translateY(-4rem);
  }
  50% {
    transform: translateY(0);
  }
  93% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-4rem);
  }
}

@media (max-width: 640px) {
  .responsive {
    width: 100% !important;
  }

  .animationKiri {
    animation: kiriLayarKecil 20s ease-in-out infinite;
  }
  @keyframes kiriLayarKecil {
    0%,
    100% {
      transform: translateY(0) scale(2);
    }
    25% {
      transform: translateY(3rem) scale(2);
    }
    50% {
      transform: translateY(0) scale(2);
    }
    75% {
      transform: translateY(-3rem) scale(2);
    }
  }

  .animationKanan {
    animation: kananLayarKecil 20s ease-in-out infinite;
  }
  @keyframes kananLayarKecil {
    0%,
    100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(0);
    }
  }
}
