*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  background-color: var(--background);
}

.width {
  width: 95%;
  max-width: 60rem;
  margin: 0 auto;
}

.ukuranDisplayImg {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* gambar max container */
.imgMaxContainer {
  max-width: 100%;
  height: auto;
  display: block;
}

.scale0 {
  transform: scaleY(0);
}

/* Bagian container img */
.animationKiri {
  animation: kiri 20s ease-in-out infinite;
}
@keyframes kiri {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5rem);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5rem);
  }
}
.animationKanan {
  animation: kanan 20s ease-in-out infinite;
}
@keyframes kanan {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-6.5rem);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(6.5rem);
  }
}

@media (max-width: 640px) {
  .animationKiri {
    animation: kiriLayarKecil 20s ease-in-out infinite;
  }
  @keyframes kiriLayarKecil {
    0%,
    100% {
      transform: translateY(0) scale(2);
    }
    25% {
      transform: translateY(3rem) scale(2);
    }
    50% {
      transform: translateY(0) scale(2);
    }
    75% {
      transform: translateY(-3rem) scale(2);
    }
  }

  .animationKanan {
    animation: kananLayarKecil 20s ease-in-out infinite;
  }
  @keyframes kananLayarKecil {
    0%,
    100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(0);
    }
  }
}
