.scale-0 {
  transform: scale(0);
  opacity: 0;
  transition: all 0.1s linear;
}
.scale-1 {
  transition: all 0.1s linear;
  opacity: 1;
  transform: scale(1);
}
.from-top {
  transform: translateY(-5rem);
  transition: all 0.2s linear;
}
.counter-top {
  transition: all 0.2s linear;
  transform: translateY(0);
}
.from-bottom {
  transform: translateY(5rem);
  transition: all 0.2s linear;
}
.counter-bottom {
  transition: all 0.2s linear;
  transform: translateY(0);
}
.new-class {
  color: aqua;
}
.old-class {
  color: blue;
}
