@media (min-width: 1024px) {
  .container-gallery {
    margin-top: 85%;
    /* background-color: aqua !important; */
  }
}
.container-gallery {
  overflow: hidden;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* naikan tinggi + 40 rem penting !!*/
  height: 80rem;
  z-index: 10;
  margin-top: 30%;
  background-color: var(--background);
  border-top: 0.2rem solid var(--third-color);
  /* box-shadow: 10px 0 0 0 rgba(0, 0, 0, 0.453); */
}
/*  */
/* card style start */
/*  */

.container-card {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;

  /* background-color: aqua; */
}

.shake {
  animation: shake 1s ease-in-out;
}

@keyframes shake {
  0% {
    transform: rotate(0) scale(1);
  }
  5% {
    transform: rotate(0) scale(1.2);
  }
  20% {
    transform: rotate(12deg) scale(1.2);
  }
  40% {
    transform: rotate(-12deg) scale(1.2);
  }
  60% {
    transform: rotate(0) scale(1.2);
  }
  80% {
    transform: rotate(5deg) scale(1.2);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
/*  */
/* card style start */
/*  */
@media (max-width: 1080px) {
  .container-gallery {
    margin-top: 100%;
  }
}
@media (max-width: 640px) {
  .card {
    flex-direction: column;
  }
  .container-gallery {
    margin-top: 100%;
  }
  .container-gallery {
    flex-direction: column;
  }
}
@media (max-width: 640px) {
  .container-gallery {
    height: 120rem;
  }
  .container-card {
    flex-direction: column;
  }
}
