.container-galleryBg {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.gallery-bg {
  overflow: hidden;
  height: 40rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
  /* background-color: aqua; */
  overflow: hidden;
  flex-shrink: 0;
}

.gallery-bg section {
  /* transform: rotate(-5deg); */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10rem;
  animation: satu 100s infinite;
}
.gallery-bg section span {
  font-size: 12rem;
  font-weight: 900;
  color: var(--tes);
  /* color: var(--white); */
}

@keyframes satu {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.dua {
  animation: dua 100s linear infinite !important;
}
@keyframes dua {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.tiga {
  animation: tiga 100s linear infinite !important;
}
@keyframes tiga {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.empat {
  animation: empat 100s linear infinite !important;
}
@keyframes empat {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
