@media (min-width: 1280px) {
  .illustrator-home {
    width: 90% !important;
    margin: auto;
  }
}

body {
  background-color: var(--background);
}
/* nav strat */
nav {
  width: 100%;
  justify-content: space-between;
  top: 0;
  position: fixed;
  z-index: 999;
  background-color: var(--white);
  display: flex;
  align-items: center;
}
.opsi-menu {
  display: flex;
  margin-left: 2rem;
  gap: 1rem;
  font-size: 0.7em;
}
.opsi-menu span {
  font-family: sans-serif;
}
.x-button {
  display: grid;
  place-items: center;
  height: 40px;
  width: 40px;
}
.x-button a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.x-button a img {
  scale: 0.5;
}
.x-button:hover {
  background-color: red;
}
/* nav end */
/*  */
.container-highlight {
  position: relative;
  width: 90%;
  max-width: 60rem;
  margin: auto;
  display: flex;
  justify-content: center;
}
.container-highlight div span {
  display: inline-flex;
  font-size: 3em;
  font-weight: 900;
  width: 100%;
  justify-content: space-evenly;
  color: var(--white);
}
.container-highlight div span p {
  font-family: "Lilita one";
}
/*  */
.teks-atas {
  position: absolute;
  bottom: 100%;
  transform: translateY(50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 20rem;
  border-radius: 10px;
  background: rgba(254, 254, 254, 0.167);
  backdrop-filter: blur(5px);
  /* background-color: var(--background); */
}

.teks-tengah {
  position: absolute;
  top: 0;
  margin-top: 4rem;
  height: 4rem;
  width: 20rem;
  background-color: aqua;
}
/*  */
/*  */

@keyframes mouse {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(10px);
  }
  20% {
    transform: translateY(25px);
  }
  30% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(0);
  }
}
@keyframes mouseScroll {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(5px);
  }
  20% {
    transform: translateY(12.5px);
  }
  30% {
    transform: translateY(-5px);
  }
  40% {
    transform: translateY(0);
  }
}

@keyframes ke-kiri {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
}
@keyframes ke-kanan {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
}
.blur {
  transform: scaleY(0);
  position: absolute;
  top: 0;
  height: 100dvh;
  width: 100%;
  z-index: 5;
  backdrop-filter: blur(5px);
}

@media (max-width: 640px) {
  /* nav start */
  nav {
    justify-content: end;
  }
  .illustrator-home .container-teks {
    gap: 0;
  }
  .main-teks {
    font-size: 50px;
  }
  .petunjuk {
    height: 3.5rem;
    width: 2rem;
  }
  .petunjuk span {
    height: 0.5rem;
    width: 2.5px;
  }
  .opsi-menu {
    display: none;
  }
  /* nav end */
  .teks-atas {
    width: 60%;
    height: 2.5rem;
  }
  .container-highlight div span {
    font-size: 1.8em;
  }
}
