@media (min-width: 1280px) {
  .illustrator-home {
    width: 90% !important;
    margin: auto;
  }
}

body {
  background-color: var(--background);
}
nav {
  width: 100%;
  justify-content: space-between;
  top: 0;
  position: fixed;
  z-index: 999;
  background-color: var(--white);
  display: flex;
  align-items: center;
}
.opsi-menu {
  display: flex;
  margin-left: 2rem;
  gap: 1rem;
  font-size: 0.7em;
}
.opsi-menu span {
  font-family: sans-serif;
}
.x-button {
  display: grid;
  place-items: center;
  height: 2.5rem;
  width: 2.5rem;
}
.x-button a {
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
}
.x-button:hover {
  background-color: red;
}
.illustrator-home {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.illustrator-home .container-teks {
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  position: relative;
  border-radius: 20px;
  gap: 0.5rem;
}
.hover-me {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
}
.hover-me h1 {
  font-size: 4em;
  color: var(--white);
}
/* .illustrator-home .container-teks:hover {
  background-color: var(--white);
} */
.main-teks {
  font-family: "Lilita one", sans-serif;
  font-size: 64px;
  color: var(--white);
}
.atas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 80%;
  max-width: 25rem;
  overflow: hidden;
  position: relative;
}
.atas::after,
.tengah::after,
.bawah::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  background: linear-gradient(
    to bottom,
    var(--background),
    rgba(255, 255, 255, 0)
  );
  top: 0;
  z-index: 5;
}
.atas::before,
.tengah::before,
.bawah::before {
  content: "";
  position: absolute;
  z-index: 5;
  height: 15px;
  width: 100%;
  background: linear-gradient(
    to top,
    var(--background),
    rgba(255, 255, 255, 0)
  );
  bottom: 0;
}

.atas h1,
.tengah h1,
.bawah h1 {
  position: absolute;
  transition: all 0.2s linear;
}

/*  */
.tengah {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 90%;
  max-width: 25rem;
  position: relative;
  overflow: hidden;
}

.tengah h1:nth-child(2) {
  color: var(--third-color);
}

.bawah {
  position: relative;
  overflow: hidden;
  height: 5rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bawah h1 {
  position: absolute;
}

.petunjuk {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 100%;
  height: 4rem;
  width: 2.5rem;
  border-radius: 20px;
  border: 0.1rem solid var(--third-color);
  animation: mouse 3s linear infinite;
}
.petunjuk span {
  position: absolute;
  height: 1rem;
  width: 5px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: var(--third-color);
  animation: mouse 3s linear infinite;
}

@keyframes mouse {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(10px);
  }
  20% {
    transform: translateY(25px);
  }
  30% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(0);
  }
}

@media (max-width: 640px) {
  .illustrator-home .container-teks {
    gap: 0;
  }
  .main-teks {
    font-size: 50px;
  }
}

@keyframes ke-kiri {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
}
@keyframes ke-kanan {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
}
.blur {
  transform: scaleY(0);
  position: absolute;
  top: 0;
  height: 100dvh;
  width: 100%;
  z-index: 5;
  backdrop-filter: blur(5px);
}
